/*** PERSONALIZACIÓN MOODLE MOBILE ***/
.bar-header {
  background-color: #232E7D;
}

ion-side-menu li .item {
  background-color: #313848;
  border-color: #4F5865;
  color: #BCC3CF;

}

ion-side-menu li.item {
  border-color: #4F5865;
  }

ion-side-menu li.item.item-divider {
  background-color: #3E4755;
}

.ion-ionic {
  color: red;
}
.ion-home {
  color: blue;
}
.ion-ios-bell {
  color: yellow;
}
.ion-chatbox {
  color: green;
}
.ion-calendar {
  color: white;
}
.ion-folder {
  color: purple;
}
.ion-earth {
  color: maroon;
}
.ion-help-buoy {
  color: red;
}
.ion-gear-b {
  color: dimgray;
}
.ion-log-out {
  color: orange;
}

.ion-ionic:before {
  content: "\f3ea";
}

.mm-site_mm_courses .tabs-icon-left {
  background-color: #EBEFF8;
}
.mm-site_mm_courses section h2 span {
  font-weight: bold;
}

/* 3.5 styles */

/** Header color */
.toolbar-background-md,
.toolbar-background-ios,
.toolbar-background-wp {
  background: #5069A1;
}

/* Bottom tabs selected color */
.tabs-md .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon,
.core-tabs-bar .tabs-md a[aria-selected=true].tab-slide .tab-button-icon,
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon,
.core-tabs-bar .tabs-ios a[aria-selected=true].tab-slide .tab-button-icon,
.tabs-wp .tab-button[aria-selected=true] .tab-button-icon,
.tabs-wp .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon,
.core-tabs-bar .tabs-wp a[aria-selected=true].tab-slide .tab-button-icon {
  color: ##D12D3F;
}

/* Tabs color*/
.core-tabs-bar .slides a.tab-slide[aria-selected=true] {
  color: #5069A1 !important;
  border-bottom-color: #5069A1 !important;
}

/* Loading spinner */
.spinner circle, .spinner line {
    stroke: #5069A1;
}

/* Buttons */
.button-md,
.button-ios,
.button-wp,
.fab-ios,
.fab-md,
.fab-wp {
  background-color: #5069A1;
}

.button-outline-md,
.button-outline-ios,
.button-outline-wp {
    border-color: #5069A1;
    background-color: #ffffff;
    color: #5069A1;
}

.button-clear-md,
.button-clear-ios,
.button-clear-wp {
  background-color: transparent;
  color: #5069A1;
}

/* More icon colors */
page-core-mainmenu-more .ion-md-notifications,
page-core-mainmenu-more .ion-ios-notifications,
page-core-mainmenu-more .ion-md-notifications {
  color: yellow;
}

page-core-mainmenu-more .ion-md-stats,
page-core-mainmenu-more .ion-ios-stats,
page-core-mainmenu-more .ion-md-stats {
  color: yellow;
}

page-core-mainmenu-more .ion-md-map,
page-core-mainmenu-more .ion-ios-map,
page-core-mainmenu-more .ion-wp-map {
  color: green;
}

page-core-mainmenu-more .ion-md-folder,
page-core-mainmenu-more .ion-ios-folder,
page-core-mainmenu-more .ion-wp-folder {
  color: purple;
}

page-core-mainmenu-more .ion-md-link,
page-core-mainmenu-more .ion-ios-link,
page-core-mainmenu-more .ion-wp-link {
  color: maroon;
}

page-core-mainmenu-more .ion-md-globe,
page-core-mainmenu-more .ion-ios-globe,
page-core-mainmenu-more .ion-wp-globe {
  color: maroon;
}

page-core-mainmenu-more .ion-md-qr-scanner,
page-core-mainmenu-more .ion-ios-qr-scanner,
page-core-mainmenu-more .ion-wp-qr-scanner {
  color: red;
}

page-core-mainmenu-more .ion-md-help-buoy,
page-core-mainmenu-more .ion-ios-help-buoy,
page-core-mainmenu-more .ion-wp-help-buoy {
  color: red;
}

page-core-mainmenu-more .ion-md-cog,
page-core-mainmenu-more .ion-ios-cog,
page-core-mainmenu-more .ion-wp-cog {
  color: dimgray;
}

page-core-mainmenu-more .ion-md-log-out,
page-core-mainmenu-more .ion-ios-log-out,
page-core-mainmenu-more .ion-wp-log-out {
  color: orange;
}

/*.page-top-bar {
    background-color: rgb(35, 46, 125);
}
.page-top-bar .top-social-icons {
    visibility: hidden;
}
.page-top-bar .usertext, .page-top-bar .userbutton fa-chevron-down {
    color: #FFF;
}
.page-top-bar .userbutton {
    cursor: pointer;
}
.sitelogo-img img, .sitelogo-icon-name img {
    margin-bottom: 20px;
}
.navbar .langmenu {
    display:none;
}
.banner-bg-color {
    background-size: cover !important;
    background-position: center !important;
}
#page-content #region-main .loginbox input[type="submit"] {
    color: white !important;
}
#region-main .langmenu {
    display: none;
}
#myCarousel .carousel-inner>div {
    background-size: cover;
}
.usertext, i.fa.fa-chevron-down {
    cursor: pointer;
}*/
.boton5 {
    float: left;
    background-color: #2980B9;
    margin: 0 13px 10px;
    padding: 10px 0px 10px;
    border-radius: 5px;
    color: #FFF;
    width: 100%;
    text-align: center;
}
.boton5:hover {
    background-color: #4f4f4f;
    text-decoration: none;
}
.boton6 {
     float: left; 
     background-color: #16A085;
     margin: 0 13px 10px;
    padding: 10px 0px 10px;
    border-radius: 5px;
    color: #FFF;
    width: 100%;
    text-align: center;
}
.boton6:hover {
    background-color: #4f4f4f;
    text-decoration: none;
}
.boton7 {
     float: left; 
     background-color: #E67E22;
    margin: 0 13px 10px;
    padding: 10px 0px 10px;
    border-radius: 5px;
    color: #FFF;
    width: 100%;
    text-align: center;
}
.boton7:hover {
    background-color: #4f4f4f;
    text-decoration: none;
}
.boton8 {
     float: left; 
     background-color: #E74C3C;
     margin: 0 13px 10px;
    padding: 10px 0px 10px;
    border-radius: 5px;
    color: #FFF;
    width: 100%;
    text-align: center;
}
.boton8:hover {
    background-color: #4f4f4f;
    text-decoration: none;
}
.boton9 {
     float: left; 
     background-color: #884EA0;
     margin: 0 13px 10px;
    padding: 10px 0px 10px;
    border-radius: 5px;
    color: #FFF;
    width: 100%;
    text-align: center;
}
.boton9:hover {
    background-color: #4f4f4f;
    text-decoration: none;
}
.boton10 {
     float: left; 
     background-color: #d4ad11;
     margin: 0 13px 10px;
    padding: 10px 0px 10px;
    border-radius: 5px;
    color: #FFF;
    width: 100%;
    text-align: center;
}
.boton10:hover {
    background-color: #4f4f4f;
    text-decoration: none;
}

#page-content #region-main input[type="submit"] {
    background: rgb(35,46,125);
}
.que .formulation {
    background-color: #ffffff;
    border-color: #6a6666;
}
.boton1 i, .boton2 i, .boton3 i, .boton4 i, .boton5 i, .boton6 i, .boton7 i, .boton8 i, .boton9 i, .boton10 i {
    display:none;
}
a.boton5, a.boton6, a.boton7, a.boton8, a.boton9, a.boton10 {
    text-decoration: none;
}
.courseimage {
    display: none;
}
